:root {
    --background-light: #fffcf2;
    --text-light: #333333;

    --background-dark: #121212;
    --text-dark: #f0f0f0;

    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Poppins', sans-serif;

    --icon-light: #ffe296;
    --icon-dark: #9b59b6;
    
    --highlight-color-default-dark: #ffe296;
    --secondary-text-dark: #ffeec2;

    --highlight-color-default-light: #efcb71;
    --secondary-text-light: #a29b8a;

    --background-blue-dark: hsl(210, 23%, 9%);
    --highlight-color-blue-dark: #5fc9f3;
    --secondary-text-dark-blue: #ffffff;

    --background-blue-light: #dce6f4;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-dark);
    color: var(--text-dark);
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 20px;
    width: 90%;
    text-align: center;
    position:absolute;
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: top 0.3s ease;
    z-index: 2;
}

header.hidden {
    top: -140px;
}

header.showing {
    position:fixed;
}

#menu-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    color: var(--highlight-color-default-dark);
    cursor: pointer;
    font-size: 24px;
    outline: none;
    transition: color 0.3s ease;
}

#menu-icon .material-icons {
    vertical-align: middle;
}

h1, h2, h3 {
    margin: 0 0 10px 0;
    font-family: var(--primary-font);
}

h3 {
    color: var(--highlight-color-default-dark);
}

h3 a {
    color: var(--highlight-color-default-dark);
}

p {
    font-family: var(--secondary-font);
    line-height: 1.6;
    color: var(--secondary-text-dark);
    margin: 2px;
}

header p {
    color: var(--highlight-color-default-dark);
}

main {
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

section {
    margin-bottom: 5%;
}

#about {
    margin-top: 180px;
}

.project {
    position: relative;
    background-color: #2c2c2c;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
}

.project-item img {
    height: auto;
    width: 100%;
}

.invisible-square-acai {
    position: absolute;
    top: 13%;
    left: 31%;
    width: 12%;
    height: 34%;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
}

.invisible-square-combo {
    position: absolute;
    top: 45%;
    left: 9%;
    width: 13%;
    height: 34%;
    cursor: pointer;
    z-index: 1;
    background-color: transparent;
}

img {
    max-width: 85%;
    max-height: 85%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body.light-mode {
    background-color: var(--background-light);
    color: var(--text-light);
}

body.light-mode p{
    color:var(--secondary-text-light);
}

body.light-mode header p, #menu-icon, h3, h3 a, #menuTitle, #toggle-theme {
    color: var(--highlight-color-default-light);
}

body.light-mode header, body.light-mode footer {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--text-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body.light-mode .project {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-text-dark);
    border-radius: 10px;
}

button {
    font-family: var(--primary-font);
    font-weight: 800;
    color: #fff;
    right: 8%;
}

.menuBg {
    position: fixed;
    background-color: var(--background-dark);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

body.light-mode .menuBg {
    background-color: #fff;
}

#menuTitle {
    color: var(--highlight-color-default-dark);
    font-family: var(--secondary-font);
    line-height: 1.6;
    font-size: 2em;
    margin-bottom: 48px;
}

body.light-mode #menuTitle {
    color: var(--highlight-color-default-light);
}

.menuOptions {
    font-family: var(--primary-font);
    color: var(--secondary-text-dark);
    margin-top: 52px;
    margin-bottom: 50%;
    font-size: 24px;
}

.menuOptions div {
    margin-bottom: 8px;
    margin-top: 8px;
}

body.light-mode .menuOptions {
    color: var(--secondary-text-light);
}

.nightModeContainer {
    display: flex;
    gap: 60%;
    align-items: center;
    padding: 0%;
}

#toggle-theme {
    background: none;
    border: none;
    color: var(--highlight-color-default-dark);
    cursor: pointer;
    text-align: right;
    display: flex;
    padding: 0%;
    margin: 0%;
}

#toggle-theme .material-icons {
    font-size: 48px;
}

.themeContainer {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.buttonsThemeContainer {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.buttonsThemeContainer button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    outline: none;
}

#blue-theme {
    height: 148px;
    width: 100%;
    cursor: pointer;
    background-color: blue;
}

#default-theme-button {
    height: 148px;
    width: 100%;
    cursor: pointer;
    background-color: yellow;
}

#orange-theme-button {
    height: 148px;
    width: 100%;
    cursor: pointer;
    background-color: orange;
}

body.blue-theme {
    background-color: var(--background-blue-dark);
    color: var(--highlight-color-blue-dark);
}

body.blue-theme p{
    color:var(--secondary-text-dark-blue);
}

body.blue-theme header p, body.blue-theme #menu-icon, body.blue-theme h3, body.blue-theme h3 a, body.blue-theme #menuTitle, body.blue-theme #toggle-theme {
    color: var(--highlight-color-blue-dark);
}

body.blue-theme.light-mode {
    background-color: var(--background-blue-light);
}

body.blue-theme.light-mode p{
    color: var(--text-light);
}

body.blue-theme.light-mode header p {
    color: var(--highlight-color-blue-dark);
}

@media (max-width: 1165px) {
    main {
        margin: 0;
        padding: 10px;
    }

    .project {
        display:block;
    }
    
    .project p {
        border-bottom: 2px solid #7A7A7A;
        padding-bottom: 8px;
    }

    .project img {
        width: 90%;
    }

    .project-item {
        margin-bottom: 10%;
    }

    .invisible-square-acai {
        top: 8%;
        left: auto;
        right: 14%;
        width: 25%;
        height: 18%;
    }
    
    .invisible-square-combo {
        top: 27%;
        left: 15%;
        width: 27%;
        height: 18%;
    }

    img {
        max-width: 99%;
        max-height: 99%;
    }

    #menu-icon {
        top: 15px;
    }

    section {
        margin-bottom: 15%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    #about {
        margin-top: 148px;
    }

    .project img {
        max-width: 100%;
    }

    header, footer {
        padding: 10px;
    }
}